<% include ('../partials/header') %>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/sb-admin-2.css" type="text/css">
<title>Error</title>

<script>
  function showAlert() {
    alert("<%- message %>");
    window.location.assign("<%- redirectTo %>");
  }
</script>
</head>
<body onload="showAlert()">

</body>