<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title><%= message %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="/css/sb-admin-2.css" type="text/css">
</head>
<body id="main">

<main>
	<% result.forEach(con => { %>

	<div class="adjoined-top mt-4">
		<div class="container">
			<div class="content grid-width-100 text-center">
				<h1><%= con.title %>!</h1>
			</div>

			<div class="adjoined-bottom mt-3">
				<div class="grid-container">
					<div class="grid-width-100">
						<textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="12" readonly> <%= con.content %> </textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="lead text-center text-sm">This page is just to view the content, if you want to <a href="/admin/manage/forum/<%= con._id %>/edit">edit</a> then click here.</p>
	<% }) %>
</main>
<script src="/ckeditor/ckeditor.js"></script>
<script>
	CKEDITOR.replace('content')
</script>
</body>
</html>
